/* 

Game css

} */

.game-container {
    position: relative;
}

/* head */
.game-container .head {
    height: fit-content;
    width: 510px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-container div.game {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

.game-container div.description {
    height: fit-content;
    width: 500px;
    top: 1000px;
    color: #fff;
    transform: translate(-50%, -50%) scale(0);
    position: absolute;
    left: 50%;
    top: 425px;
    background: #FDAAAA;
    padding: 50px;
    border-radius: 0px;
    z-index: 1000;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    font-size: 15px;
    transition: 0.3s all;
    box-shadow: rgba(100, 100, 111, 1) 0px 7px 29px 0px;
    border-radius: 5px;
}

.game-container div.description h1 {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 10px;
}

.game-container div.description .btn {
    margin-top: 10px;
    background-color: #fff;
    color: #FDAAAA;
    transition: .3s;
    border: 1px solid #fff;
}

.game-container div.description .btn:hover {
    color: #fff;
    background-color: unset;
}

.game-container .description.show {
    visibility: visible;
    opacity: 1;
    font-size: 15px;
    transform: translate(-50%, -50%) scale(1);
    transition: 0.3s all;
}

.game-container .info {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-weight: 100;
    cursor: pointer;
    border: 0px;
    border-color: #aaa;
    background-color: #FDAAAA;
    color: #fff;
    font-size: 20px;
    top: 50px;
    transform: translate(-50%, -50%);
    margin-left: 25px;
    margin-right: 15px;
    transition: 0.1s background-color;
}

.game-container .info:hover {
    background-color: #6593d8;
}


.game-container .repeat {
    margin: 0px !important;
}

.game-container .a {
    color: #FDAAAA;
    font-size: 56px;
    font-weight: 200;
    margin-right: 15px
}

.game-container .score {
    position: relative;
    width: 100px;
    height: 100px;
    top: 10px;
    font-weight: 400;
    font-size: 24px;
    color: #FDAAAA;
    text-align: center;
}



/* field */
.game-container .field {
    position: absolute;
    width: 510px;
    height: 510px;
    background-color: #888;
    top: 150px;
    border-radius: 0px;
    border: 5px solid #888;
    display: table;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.game-container .grid {
    position: absolute;
    width: 510px;
    height: 510px;
    background-color: #888;
    top: 150px;
    border-radius: 0px;
    border: 5px solid #888;
    display: table;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.game-container .field {
    z-index: 5;
}

.game-container .grid {
    z-index: 5;
}

.game-container .row {
    width: 510px;
    height: 135px;
    position: relative;
    display: table-row;
}

.game-container .grid_row {
    width: 510px;
    height: 135px;
    position: relative;
    display: table-row;
}

.game-container .cell {
    background-color: white;
    width: 125px;
    height: 125px;
    position: relative;
    display: table-cell;
    border-radius: 0px;
    border: 5px solid #888;
    text-align: center;
    vertical-align: middle;
    font-size: 50px;
}

.game-container .grid_cell {
    background-color: white;
    width: 125px;
    height: 125px;
    position: relative;
    display: table-cell;
    border-radius: 0px;
    border: 5px solid #888;
    text-align: center;
    vertical-align: middle;
    font-size: 50px;
}

.game-container .game-container .grid_cell {
    background-color: #aaa;
    color: white;

}

.game-container div>div>div>div {
    opacity: 0;
    position: absolute;
}

.game-container .tile {
    opacity: 1;
    width: 118px;
    height: 126px;
    background-color: white;
    z-index: 150;
    border-radius: 0px;
    font-weight: 200;
    top: 0;
    left: -1px;
    color: black;
    transition: 0.3s all;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;

    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}

.game-container #status {
    width: 100%;
    height: 650px;
}

.game-container .won {
    background-color: #337538;
    transition: 0.3s all;

}

.pop-up-open {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pop-up-close {
    display: none;
}

.pop-up {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 8;
}

.pop-up>div {
    border-radius: 5px;
    padding: 24px;
    background-color: #ff7d7d;
    color: #fff;
    text-align: center;
}

.pop-up>div>h1 {
    font-size: 24px;
    margin-bottom: 15px;
}

.pop-up>div>button {
    padding: 5px 10px;
    background-color: #fff;
    color: #ff7d7d;
    border-radius: 5px;
    transition: .3s;
}

.pop-up>div>button:hover {
    transform: scale(1.1);
}

.link-to-home {
    background-color: #FDAAAA;
    border-radius: 5px;
    margin: 10px 0 50px 0;
    text-transform: uppercase;
    color: #fff;
}

.link-to-home a {
    font-weight: 600;
}

@media (max-width: 1024px) {
    .game-container {
        display: none;
    }

    .page-404 {
        height: calc(100vh - 63px);
        padding-top: 20%;
    }
}

@media (max-width: 768px) {
    .page-404 {
        height: calc(100vh - 121px);
        padding-top: 20%;
    }
}

@media (max-width: 600px) {
    .page-404 {
        height: calc(100vh - 131px);
        padding-top: 20%;
    }
}